.App {
  text-align: center;
}
ul {
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.all-articles-card {
  max-width: 1;
  background-image: url("../public/solo\ project\ background.png");
  border: 2;
}
.main-header {
  background-color: yellow;
}
.header {
  color: black;
}
.Title-text {
  color: yellow;
  background-color: black;
  font-style: italic;
  font-weight: bold;
}
.text {
  color: black;
  font-style: italic;
  font-weight: bold;
}
.dropdown {
  background-color: black;
  padding-top: 15;
  padding-bottom: 15;
  border-radius: 10;
  margin-top: 10;
}
.input-box {
  background-color: yellow;

  padding-top: 15;
  padding-bottom: 15;
  border-radius: 10;
  margin-top: 10;
}
.nav-bar {
  background-color: black;
}
.nav-link-text {
  color: yellow;
}
.search-by {
  color: yellow;
}
.single-article {
  background-image: url("../public/solo\ project\ background.png");
}
.comments {
  font-weight: bold;
}
.comment-author {
  font-weight: bold;
}
.single-article-text {
  font-weight: bold;
}
.vote-text {
  font-weight: bold;
}
.green-button {
  background-color: green;
}
.red-button {
  background-color: red;
}
